.root{
    height: 100%;
    width: 100%;
}

.leftPanel{
    width: 60%;
}
.data{
    overflow-y: auto;
}
.rightPanel{
    width: 40%;
}
.inputTitle{
    font-size: 20px;
    margin: 10px 0px 10px 0px ;
}
.inputList{
    margin: 5px 10px 5px 10px ;
}
.input{
    width:30%;
    margin: 0px 10px 0
}